<!DOCTYPE html>
<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Cookies By Su</title>
    </head>
    <body>

        <!-- html vista detallada perfil -->
        <section th:fragment="perfilDisplay" id="perfil">
            <div class="container px-4">
                <div class="row gx-5">
                    <div class="col">
                        <div class="p-3">
                            <h2>[[${perfil.username}]]</h2>
                            <br />
                            <h2>[[${perfil.apellidos}]]</h2>
                            <br />
                            <h2>[[${perfil.cedula}]]</h2>
                            <br />
                            <h2>[[${perfil.telefono}]]</h2>
                            <br />
                            <h2>[[${perfil.pais}]]</h2>
                            <br />
                            <h2>[[${perfil.provincia}]]</h2>
                            <br />
                            <h2>[[${perfil.cantonDistrito}]]</h2>
                            <br />
                            <h2>[[${perfil.direccionDetallada}]]</h2>
                            <br />
                            <h2>[[${perfil.password}]]</h2>


                        </div>
                    </div>
                </div>
                <div class="row" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a
                        th:href="@{/perfil/eliminar/}+${perfil.idPerfil}"
                        class="btn btn-danger"
                        >
                        <i class="fas fa-trash"></i> [[#{accion.eliminar}]]</a
                    >
                    <a
                        th:href="@{/perfil/modificar/}+${perfil.idPerfil}"
                        class="btn btn-success"
                        >
                        <i class="fas fa-pencil"></i>
                        [[#{accion.actualizar}]]</a
                    >
                </div>
            </div>
        </section>

        <!-- html editar perfil -->
        <section th:fragment="editarPerfil">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form method="POST"
                          th:action="@{/perfil/guardarUsuario}" 
                          th:object="${usuario}"
                          class="was-validated"                          
                          enctype="multipart/form-data">
                        <input type="hidden" name="idPerfil" th:field="*{idUsuario}"/>
                        <section th:replace="~{perfil/fragmentos :: botonesEditar}"/>
                        <div id=details>
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4>[[#{accion.actualizar}]]</h4>
                                            </div>
                                            <div class="card-body">
                                                <div class="modal-body">
                                                    <div class="mb-3">
                                                        <label for="nombre">[[#{usuario.nombre}]]</label>
                                                        <input type="text" class="form-control" name="nombre" th:field="*{nombre}"></input>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="apellidos">[[#{usuario.apellidos}]]</label>
                                                        <input type="text" class="form-control" name="apellidos" th:field="*{apellidos}"></input>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="pais">[[#{perfil.pais}]]</label>
                                                        <input type="text" class="form-control" name="pais" th:field="*{pais}"></input>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="provincia">[[#{usuario.provincia}]]</label>
                                                        <input type="text" class="form-control" name="provincia" th:field="*{provincia}"></input>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="cantonDistrito">[[#{usuario.cantonDistrito}]]</label>
                                                        <input type="text" class="form-control" name="cantonDistrito" th:field="*{cantonDistrito}"></input>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="direccionDetallada">[[#{usuario.direccionDetallada}]]</label>
                                                        <textarea type="text" class="form-control" name="direccionDetallada" th:field="*{direccionDetallada}" rows="3"></textarea>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="numeroTelefono">[[#{usuario.telefono}]]</label>
                                                        <input type="text" class="form-control" name="numeroTelefono" th:field="*{numeroTelefono}" rows="3"></input>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </form>
                            </div>
                        </div>
                        </section>

                        <section th:fragment="botonesEditar">
                            <div class="container py-4 mb-4 bg-light">
                                <div class="row">
                                    <div class="col-md-4 d-grid">
                                        <a th:href="@{/}" class="btn btn-primary">
                                            <i class="fas fa-arrow-left"></i> [[#{accion.regresar}]]
                                        </a>
                                    </div>
                                    <div class="col-md-4 d-grid">
                                        
                                    </div>
                                    <div class="col-md-4 d-grid">
                                        <button type="submit" class="btn btn-success">
                                            <i class="fas fa-check"></i> [[#{accion.guardar}]]
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </section>
                        </body>
                        </html>
