<!DOCTYPE html>
<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
    >
    <head th:replace="~{layout/plantilla :: head}">
        <title>Cookies By Su</title>
    </head>
    <body>
        <!-- 1 -->

        <section th:fragment="formPersonalizar">
            <div class="row justify-content-md-center">
                <div class="col-sm-8 col-lg-6 mb-3">
                    <div class="container">
                        <h1 class="fw-bold mt-3 fs-2 text-center">
                            [[#{personalizado.titulo}]]
                        </h1>
                        <form
                            th:action="@{/personalizado/guardar}"
                            th:object="${pedidoP}"
                            method="POST"
                            class="was-validated"
                            enctype="multipart/form-data"
                            >
                            <div class="card-body">
                                <div class="form-group">
                                    <div class="col">
                                        <label for="inputNombre" class="form-label mt-2"
                                               >[[#{personalizado.nombre}]]</label
                                        >
                                        <input
                                            type="text"
                                            class="form-control"
                                            id="inputNombre"
                                            th:field="*{nombre}"
                                            placeholder="Nombre"
                                            />
                                    </div>
                                    <div class="col">
                                        <label for="inputApellidos" class="form-label mt-2"
                                               >[[#{personalizado.apellidos}]]</label
                                        >
                                        <input
                                            type="text"
                                            class="form-control"
                                            id="inputApellidos"
                                            th:field="*{apellidos}"
                                            placeholder="Apellidos"
                                            />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputCorreo" class="form-label mt-2"
                                           >[[#{personalizado.correo}]]</label
                                    >
                                    <input
                                        type="email"
                                        class="form-control"
                                        id="inputCorreo"
                                        th:field="*{correoElectronico}"
                                        />
                                </div>
                                <div class="form-group row g-3">
                                    <div class="col">
                                        <label for="inputTelefono" class="form-label mt-2"
                                               >[[#{personalizado.telefono}]]</label
                                        >
                                        <input
                                            type="number"
                                            class="form-control"
                                            id="inputTelefono"
                                            th:field="*{numeroTelefono}"
                                            />
                                    </div>
                                    <div class="col">
                                        <label for="inputFecha" class="form-label mt-2"
                                               >[[#{personalizado.fechaPreliminar}]]</label
                                        >
                                        <input
                                            type="date"
                                            id="date"
                                            class="form-control"
                                            th:field="*{fechaPreliminar}"
                                            />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="textAreaDescripcion" class="form-label mt-2"
                                           >[[#{personalizado.descripcion}]]</label
                                    >
                                    <textarea
                                        class="form-control"
                                        id="textAreaDescripcion"
                                        rows="3"
                                        th:field="*{descripcion}"
                                        placeholder="Colores, tamaños, personajes, temática... "
                                        ></textarea>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="imagen">[[#{personalizado.imagen}]]</label>
                                    <input
                                        class="form-control form-label mt-2"
                                        type="file"
                                        name="imagenFile"
                                        onchange="readURL(this);"
                                        />
                                    <img
                                        class="rounded mx-auto d-block mt-3"
                                        id="blah"
                                        th:src="@{${pedidoP.rutaImagen}}"
                                        alt="your image"
                                        height="200"
                                        />
                                </div>
                            </div>
                            <div class="card-footer">
                                <button class="btn btn-primary my-2" type="submit">
                                    [[#{accion.enviar}]]
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <script>
                let minDate = new Date();
                minDate.setDate(minDate.getDate() + 15);

                var dateObject = document.getElementById("date");

                dateObject.setAttribute("min", minDate.toISOString().split("T")[0]);
                dateObject.setAttribute("value", minDate.toISOString().split("T")[0]);
            </script>
        </section>

        <!-- 2 Botones -->
        <section th:fragment="botonListado">
            <div class="row justify-content-center">
                <div class="col-sm-8 col-lg-6" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a th:href="@{/personalizado/listado}">
                        <button type="button" class="mt-2 btn btn-light btn-block">
                            [[#{accion.listado}]]
                        </button>
                    </a>
                </div>
            </div>
        </section>

        <!-- 3 Sección principal para mostrar la informaccion de la entidad categoria -->
        <section th:fragment="listadoPedidosP" id="pedidosP">
            <div class="container-md">
                <div class="row">
                    <h2 class="fw-bold my-2 fs-2 text-center">
                        [[#{personalizado.listado}]]
                    </h2>
                </div>
                <div
                    th:if="${pedidosP != null and !pedidosP.empty}"
                    class="table-responsive small"
                    >
                    <table class="table table-striped table-hover table-sm">
                        <thead>
                            <tr>
                                <th scope="col" class="text-black opacity-100">#</th>
                                <th scope="col">[[#{personalizado.nombre}]]</th>
                                <th scope="col">[[#{personalizado.apellidos}]]</th>
                                <th scope="col">[[#{personalizado.telefono}]]</th>
                                <th scope="col">[[#{personalizado.fechaPreliminar}]]</th>
                                <th scope="col">[[#{personalizado.descripcion}]]</th>
                                <th scope="col" style="text-align: center">
                                    [[#{accion.eliminar}]]
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="pedidoP, contador: ${pedidosP}">
                                <td>[[${contador.count}]]</td>
                                <td>[[${pedidoP.nombre}]]</td>
                                <td>[[${pedidoP.apellidos}]]</td>
                                <td>[[${pedidoP.numeroTelefono}]]</td>
                                <td>[[${pedidoP.fechaPreliminar}]]</td>
                                <td>[[${pedidoP.descripcion}]]</td>
                                <td style="text-align: center">
                                    <a
                                        th:href="@{/personalizado/eliminar/}+${pedidoP.idPedidoP}"
                                        class="btn btn-danger"
                                        >
                                        <i class="fas fa-trash"></i
                                        ></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div
                    class="text-center p-2"
                    th:if="${pedidosP == null or pedidosP.empty}"
                    >
                    <span>[[#{lista.vacia}]]</span>
                </div>
            </div>
        </section>

        <!-- 5 Botones -->
        <section th:fragment="botonesEditar">
            <div class="container py-4 mb-4 bg-light">
                <div class="row">
                    <div class="col-md-4 d-grid">
                        <a th:href="@{/producto/listado}" class="btn btn-primary">
                            <i class="fas fa-arrow-left"></i> [[#{accion.regresar}]]
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">
                        <a
                            th:href="@{/producto/eliminar/}+${producto.idProducto}"
                            class="btn btn-danger"
                            >
                            <i class="fas fa-trash"></i> [[#{accion.eliminar}]]
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-check"></i> [[#{accion.guardar}]]
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <!-- 2 Se muestra despues de enviar el correo de confirmacion-->

        <section th:fragment="unaSalida">
            <div class="row py-2 justify-content-center">
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header align-items-center">[[${titulo}]]</div>
                        <div class="card-body">
                            <strong>[[${mensaje}]]</strong>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
