<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Cookies By Su</title>
    </head>
    <body>
        <!-- 1 Fragmento que se utiliza en la página para regresar -->
        <section th:fragment="nuevoUsuario">
            <div class="row m-5 justify-content-md-center">
                <div class="col-sm-6 col-lg-4 mb-3">
                    <div class="rounded-4 shadow text-center">
                        <div class="card-header p-5 pb-4 border-bottom-0">
                            <h1 class="fw-bold mb-0 fs-2"
                                style="font-family: 'Antonio'">[[#{usuario.agregar}]]</h1>
                        </div>
                        <div class="card-body p-5 pt-0">
                            <form method="POST" 
                                  th:action="@{/registro/crearUsuario}" 
                                  th:object="${usuario}" 
                                  class="was-validated">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control rounded-3" id="username" name="username" th:field="*{username}" required="true" placeholder="Usuario"/>
                                    <label for="username">[[#{usuario.username}]]</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control rounded-3" name="nombre" th:field="*{nombre}" required="true" placeholder="Nombre"/>
                                    <label for="nombre">[[#{usuario.nombre}]]</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control rounded-3" name="apellidos" th:field="*{apellidos}" required="true" placeholder="Apellidos"/>
                                    <label for="apellidos">[[#{usuario.apellidos}]]</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="email" class="form-control rounded-3" name="correo" th:field="*{correoElectronico}" required="true" placeholder="Correo Electrónico"/>
                                    <label for="email">[[#{usuario.correo}]]</label>
                                </div>                                             
                                <div class="row">
                                    <div class="col-6">
                                        <button class="w-100 mb-2 btn btn-outline-secondary p-0">
                                            <a th:href="@{/login}" class="btn w-100"> [[#{accion.regresar}]]</a></button>
                                    </div>
                                    <div class="col-6">
                                        <button type="submit" class="w-100 mb-2 btn btn-primary">
                                            <span class="w-100 m-0">[[#{usuario.activacion}]]</span></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- 2 Fragmento que se utiliza activar un usuario -->
        <section th:fragment="activarUsuario">
            <div class="row m-5 justify-content-md-center">
                <div class="col-sm-6 col-lg-4 mb-3">
                    <div class="rounded-4 shadow text-center">
                        <div class="card-header p-5 pb-4 border-bottom-0">
                            <h1 class="fw-bold mb-0 fs-2">[[#{registro.activar}]]</h1>
                        </div>
                        <div class="card-body p-5 pt-0">
                            <form method="POST" th:action="@{/registro/activar}" th:object="${usuario}" class="was-validated" enctype="multipart/form-data">
                                <input type="hidden" name="idUsuario" th:field="*{idUsuario}"/>
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" name="username" th:field="*{username}" required="true" placeholder="Usuario"/>
                                    <label for="username">[[#{usuario.username}]]</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" name="nombre" th:field="*{nombre}" required="true" placeholder="Nombre"/>
                                    <label for="nombre">[[#{usuario.nombre}]]</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" name="apellidos" th:field="*{apellidos}" required="true" placeholder="Apellidos"/>
                                    <label for="apellidos">[[#{usuario.apellidos}]]</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="email" class="form-control" name="correo" th:field="*{correoElectronico}" required="true" placeholder="Número de teléfono"/>
                                    <label for="email">[[#{usuario.correo}]]</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="tel" class="form-control" name="telefono" th:field="*{numeroTelefono}" placeholder="Número de teléfono"/>
                                    <label for="telefono">[[#{usuario.telefono}]]</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="password" class="form-control" name="password" th:field="*{contrasena}" placeholder="Contraseña"/>
                                    <label for="password">[[#{usuario.password}]]</label>
                                </div>
                                <div class="card-footer align-items-center">
                                    <button type="submit" class="btn btn-success">
                                        <i class="fas fa-check"></i> [[#{usuario.activacion}]]
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- 3 Fragmento que se utiliza recordar un usuario -->
        <section th:fragment="recordarUsuario">
            <div class="row m-5 justify-content-md-center">
                <div class="col-sm-6 col-lg-4 mb-3">
                    <div class="rounded-4 shadow text-center">
                        <div class="card-header p-5 pb-4 border-bottom-0">
                            <h1 class="fw-bold mb-0 fs-2">[[#{registro.recordar.us}]]</h1>
                        </div>
                        <div class="card-body p-5 pt-0">
                            <form method="POST"
                                  th:action="@{/registro/recordarUsuario}" th:object="${usuario}"
                                  class="was-validated">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control rounded-3" name="username" th:field="*{username}" placeholder="Usuario" required="true" />
                                    <label for="username">[[#{usuario.username}]]</label>
                                </div>                                                
                                <div class="form-floating mb-3">
                                    <input type="email" class="form-control rounded-3" name="correo" th:field="*{correoElectronico}" placeholder="Correo Electrónico" required="true"/>
                                    <label for="email">[[#{usuario.correo}]]</label>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <button class="w-100 mb-2 btn btn-outline-secondary p-0">
                                            <a th:href="@{/login}" class="btn w-100"> [[#{accion.regresar}]]</a>
                                        </button>
                                    </div>
                                    <div class="col-6">
                                        <button type="submit" class="w-100 mb-2 btn btn-primary">
                                            <span class="w-100 m-0">[[#{registro.recordar.us}]] </span></button>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- 4 Fragmento que se utiliza recordar la pagina salida -->
        <section th:fragment="unaSalida">
            <div class="row py-2 justify-content-center">
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header align-items-center">
                            [[${titulo}]]
                        </div>
                        <div class="card-body">
                            <strong>[[${mensaje}]]</strong>
                        </div>
                    </div>
                </div>
            </div>

        </section>

    </body>
</html>

