<!DOCTYPE html>

<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Cookies by Su</title>

    </head>
    <body>

        <header th:replace="~{layout/plantilla :: header}"/>

        <div class="row m-5 justify-content-md-center">
            <div class="col-sm-6 col-lg-4 mb-3">
                <div class="rounded-4 shadow text-center">
                    <div class="card-header p-5 pb-4 border-bottom-0">
                        <h1 class="fw-bold mb-0 fs-2">[[#{login.login}]]</h1>
                    </div>
                    <div class="card-body p-5 pt-0">
                        <form method="post" 
                              th:action="@{/login}">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control rounded-3" id="username" name="username" placeholder="Username"/>
                                <label for="username">[[#{login.username}]]</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control rounded-3" id="password" name="password"placeholder="Password"/>
                                <label for="password">[[#{login.password}]]</label>
                            </div>
                            <div class="mb-3">
                                <small class="text-body-secondary">¿Olvidaste tu contraseña?</small>
                                <a th:href="@{/registro/recordar}">[[#{accion.recordar}]]</a>
                            </div>
                            <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">
                                <span class="btn text-white fs-5">[[#{login.login}]]</span></button>
                            <button class="w-100 mb-2 btn btn-lg rounded-3 btn-secondary">
                                <a th:href="@{/registro/nuevo}" class="btn text-white fs-5">[[#{accion.registrar}]]</a></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <footer th:replace="~{layout/plantilla :: footer}"/>
    </body>
</html>
